<%- include('./header.ejs')  %>
 <!-- middle section start -->
   
 <img src="https://t4.ftcdn.net/jpg/05/10/86/29/360_F_510862902_K5o4Sz7odYbuFs6FLKqTH3L79eTDtjYc.jpg" class="img-fluid" alt="photo" style="width: 100%; height: 506px; margin-top: 39px;">
 <div>
    <h1 data-aos="zoom-in-up" data-aos-offset="250" style="color:#20897b; text-align: center; margin-top: 56px;">Grievance Redressal System</h1 py-5>
    <hr class="w-50 m-auto" style="color:#20897b ; font-weight: 500;">
</div>
<br>
<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-6 col-lg-6 col-12 my-2">
            <p  data-aos="fade-right" data-aos-offset="300" style="color:#20897b; font-size: 130%; text-align: justify">
              The Grievance Redressal Cell has been developed to settle the grievances of the students and other stakeholders within a reasonable time period for further strengthening the bond of the students with the institution by providing them with all kind of facilities to a satisfaction level for maintaining a convenient ambience of academic teaching and learning.
              Oréll believes that providing on time and competent service is essential not only to attract new customers, but also to retain existing ones. ITMGrievance, the revolutionary online grievance handling mechanism aims at minimising instances of complaints in professional
            </p>
          </div>
          <div class="col-sm-12 col-md-6 col-lg-6 col-12 my-2"  data-aos="fade-left" data-aos-offset="350">
            <img src="https://www.umsl.edu/technology/files/images/student-banner.jpg" style="width: 543px;  margin-left: 86px;  height: 229px;"/>
          </div>
          <p data-aos="fade-up"
          data-aos-duration="3000" data-aos-offset="100" style="color:#20897b; font-size: 130%; text-align: justify">colleges through effective tracking and monitoring of grievances ensuring prompt redressal. This portal for online registration and disposal of grievances help users obtain immediate response and resolution to their grievances from the institution itself.</p>
    </div>
</div>
<br>
<br>



<!-- middle section end -->
<%- include('./footer.ejs')  %>