<%- include('./header.ejs')  %> 
    
      <!-- middle section start -->
   
      <img src="https://www.umsl.edu/technology/files/images/student-banner.jpg" class="img-fluid" alt="photo" style="width: 100%; height: 506px; margin-top: 39px;">
      <div>
         <h1 data-aos="zoom-in" data-aos-offset="200" style="color:#20897b; text-align: center;">Grievance Redressal System</h1>
         <hr class="w-50 m-auto" style="color:#20897b ; font-weight: 500;">
     </div>
     <div class="container my-2">
         <h2   data-aos="fade-right" data-aos-offset="300" style="color:#20897b">Features</h2>
         <p data-aos="zoom-in-up" data-aos-offset="300" class ="features"style="color:#20897b">The Grievance Redressal System the latest productivity enhancement tool for higher education has umpteen features that make it appealing to educational institutions worldwide. The separate dashboard for students, teachers, parents and non-teaching staff in addition to admin and grievance cell members helps to maintain confidentiality in grievance dealing procedure. It gives opportunity for the institution to implement a set of specific measures to ensure accountability and maximum output, by managing grievances of the stakeholders and increasing transparency thereby establishing a very positive ambience.</p>
         <h2 data-aos="flip-left" data-aos-offset="300" class="features1" style="color:#20897b">User Interface at-a-glance</h2>
         <ul data-aos="fade-up-right" data-aos-offset="300" class ="features2"style="color:#20897b">
             <li>Post complaints by students, teachers, parents an other staff</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
         </ul>
         <h2 data-aos="flip-left" data-aos-offset="300" class="features1" style="color:#20897b">Admin and Gravience Handler Interface at-a-glance</h2>
         <ul data-aos="fade-up-right" data-aos-offset="300" class ="features2"style="color:#20897b">
          <li>Account Settings to edit and reset admin profile.</li>
          <li>Add grievance cell members.</li>
          <li>Create and monitor accounts of grievance committee.</li>
          <li>Add head of the institution and a management representative in the cell.</li>
          <li>Option to verify and approve registered users checking their authenticity.</li>
          <li>View complaints sent by the users.</li>
          <li>Check the authenticity of complaints.</li>
          <li>Assign complaints to grievance cell members based on the complaint nature/type.</li>
          <li>Generate reports on a monthly basis in word/pdf/excel format.</li>
           </ul>
         <h2 data-aos="flip-left" data-aos-offset="300" class="features1" style="color:#20897b">Dean Interface at-a-glance</h2>
         <ul data-aos="fade-up-right" data-aos-offset="300" class ="features2"style="color:#20897b">
             <li>Post complaints by students, teachers, parents an other staff</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
             <li>Post complaints by students, teachers, parents an other staff.</li>
         </ul>
     </div>
     <br>
     <br>
 
      <!-- middle section end -->

     <%- include('./footer.ejs')  %>