<%- include('./header.ejs')  %>
 
   <!-- middle section start -->
   
   <img src="https://connect-assets.prosple.com/cdn/ff/daFN9EwdhdEJCvYevUUNcb-z4cAt9rJAdjcvtwRIGcc/1636549254/public/styles/scale_and_crop_center_890x320/public/2021-11/Banner-razorpay-1786x642-2021.jpg?itok=oXuwIQIT" class="img-fluid" alt="photo" style="width: 100%; height: 506px; margin-top: 35px;">
   <div class="container text-center my-3">
       <div>
           <h1  data-aos="zoom-in" data-aos-offset="200" style="color:#20897b;">Grievance Redressal System</h1>
           <hr class="w-50 m-auto" style="color:#20897b ; font-weight: 500;">
       </div>
       <br>
       <p  data-aos="fade-down-right" data-aos-offset="350" class="grievance">Grievance Redressal System is a mechanism commonly used to receive and act on complaints or grievances reported by stakeholders of private or public institutions, enabling prompt actions on any issue raised by them and to avail services more effectively.Unlike the traditional Grievance Redressal approach through letters and complaint forms, the new online based approach such as grievance portals have very great appeal and its usage highly reflects the actual state of customer satisfaction.Grievance Redressal can be handled directly by institutes through their own websites.</p>
   </div>
   <div class="container">
      <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-6 col-12 my-2" data-aos="fade-down-right" data-aos-offset="350">
              <img src="images/home-grievance-redressal-system-content-img.png" />
            </div>
            <div class="col-sm-12 col-md-6 col-lg-6 col-12 my-12">
              <p data-aos="fade-left" data-aos-offset="350" class="grievance">Also the smart web portal for grievance processing connects stakeholders and action-takers directly through online platform. Grievance Redressal System helps to pursue quick action for solving the grievance, while maintaining affordability and ease to the users.Online grievance redressal mechanism in higher education institutions facilitates the main constituents of the institute including students, parents, teachers and other non-teaching staff to lodge grievances and ensure satisfactory solutions in a hassle-free manner. Effective and timely redressal or settlement of the grievances makes grievance redressal system mandatory in higher education institution, according to the Ministry of Human Resource Development (MHRD), Government of India..</p>
            </div>
            <p data-aos="fade-down-left" data-aos-offset="350" class="grievance">Grievance Redressal System has now become part and parcel of the operations of any administration. No institution can claim to be responsive and user-friendly unless it has an effective grievance redress mechanism. In fact, grievance redressal technology is the gauge to determine efficiency and effectiveness of the institution as it provides feedback on the organization functioning. In order to ensure transparency in institutions imparting technical education, with the supreme objective of preventing unfair practices and to provide a mechanism to students, parents, teachers and other non-teaching staff for the redressal of their complaints, online grievance redressal mechanism is directed by approval councils in India.</p>
          </div>
   </div>
   <br>
   <br>
   <br>
   
   <!-- middle section end -->

 <%- include('./footer.ejs')  %>