<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="shortcut icon" href="https://lms.itmgoi.in/theme/image.php/eguru/theme/1692865847/favicon">"
    <title>ITM Gravience Portal</title>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <!-- Our css link -->
    <link rel="stylesheet" type="text/css" href="/CSS/style.css"/>

    <!-- Bootstrap css link -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
      crossorigin="anonymous"
    />
    <!-- Font awsome link -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    />
  </head>

  <body style="background-color: whitesmoke">
    <!-- Top bar start -->
    <div class="container-fluid menu">
      <div class="row">
        <nav
          class="navbar navbar-expand-lg navbar-light px-3 border-bottom fixed-top"
          style="background-color: #20897b"
        >
          <div class="container-fluid m-end">
            <img src="images/ITMGOILogo.jpg" style="height: 49px" />
            <!-- <a class="navbar-brand" href="#">Navbar</a> -->
            <button
              class="navbar-toggler"
              type="button"
              data-bs-toggle="collapse"
              data-bs-target="#navbarNav"
              aria-controls="navbarNav"
              aria-expanded="false"
              aria-label="Toggle navigation"
            >
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
              <ul class="navbar-nav ms-auto text-start">
                <li class="nav-item">
                  <a
                    class="nav-link active fs-5 text-white"
                    aria-current="page"
                    href="/"
                    >HOME</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active fs-5 text-white"
                    aria-current="page"
                    href="/about"
                    >ABOUT</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active fs-5 text-white"
                    aria-current="page"
                    href="/gri"
                    >GRIEVANCE REDRESSAL SYSTEM</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active fs-5 text-white"
                    aria-current="page"
                    href="/features"
                    >FEATURES</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active fs-5 text-white"
                    aria-current="page"
                    href="/benefits"
                    >BENIFIT</a
                  >
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active fs-5 text-white"
                    aria-current="page"
                    href="/help"
                    >HELP</a
                  >
                </li>
              </ul>
            </div>
          </div>
        </nav>
      </div>
    </div>
  </body>
</html>
