.carousel-inner images{
    width: 100%;
    height: 80vh;
}
.banner{
     background-position: center;
    	background-size: cover;
}
.card-body{
    background-color: #20897b;
    color: #f3aa92; 
    font-weight: 900
    
}
.card1{
    color: #fff;
    padding: 5px;
}
.card-text{
    color: #fff;
}
.card-button{
    background-color: #f3aa92;
    color: #fff;
    border: none;
    font-size: 19px;
    width: 104px;
    height: 42px;
    font-style: normal;
}
.theory{
    text-align: justify;
    font-size: 16px;
    color: white;
    line-height: 22px;
}
.p2{
    color: white;
}
.facebook{
    font-size: 28px;
    color: white;
    margin-left: -15%;
    
}
.facebook2{
    font-size: 22px;
    font-weight: 500;
    color: white;
    text-decoration: none;
}
.par{
    line-height: 24px;
    margin: 10px 0 0;
}
.grievance{
    font-weight: 500;
    text-align: justify;
    font-size: 21px;
    color:#20897b;
}
.features{
    color: #ffffff;
    font-size: 26px;
    font-weight: 500;
    margin-top: 36px;
    text-align: justify;
}
.features1{
    margin-top: 34px;
}
.features2{
    color:#20897b;
    font-size: 23px;
    font-weight: 200;
    margin-top: 36px;
    text-align: justify;
}
.border{
    border: 2px solid white;
    padding: 20px;
}
.help{
    padding: 10px;
}
.preshan{
    text-align: center;
    margin-left: 503px;
    margin-top: 5px;
    font-size: 17px;
    font-weight: 500;
}